.Navbardiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C2D3F;
  padding: 1rem;
  color: white;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}